<!DOCTYPE html>
<html>

<head>
    <title>Price Monitor</title>

    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">

</head>

<body>

    <div id="landing-header">
        <h1>Welcome to Price Monitor!</h1>
        <a href="/register" class="btn btn-lg btn-light">Sign Up</a>
        <a href="/login" class="btn btn-lg btn-light">Log in</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <% include partials/footer %>